
{% extends 'base.html' %}

{% block header %}
{% include "partials/header.html" %}
{% endblock %}

{% block content %}

<!-- put content here -->

<section id="main">
    <div class="container">
        <header>
            <h1 class="day">{% now "l" %}</h1>
            <p class="date">{% now "F d, Y" %}</p>
        </header>

        <div class="list-contain">
            <div id="input"></div>
            <div id="content"></div>

            <div id="footer"></div>
        </div>
    </div>
</section>

{% endblock %}

{% block footer %}
{% include "partials/footer.html" %}
{% endblock %}


